CUSTOMER-HWID-EXPIRY-CHECKSUM

To generate a valid license key for your hardware:
1. Build and run the license generator tool
2. Replace this file with your generated license.key
3. Hardware ID is based on CPU features

Example:
TEST01-000606a61f8bfbff-20261209-1ADA6D0A
